.body {
	height: 100vh;
	border: none;
}

.custom-text {
	color: orange;
}

.btn-primary {
	background-color: orange !important;
	border: none !important;
}

.btn-primary:hover {
	background-color: orangered !important;
}
